[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
fastapi = "*"
python-jose = "*"
passlib = {extras = ["bcrypt"], version = "*"}
uvicorn = "*"
python-multipart = "*"
email-validator = "*"
requests = "*"
pydantic = "*"
raven = "*"
gunicorn = "*"
pytest = "*"
pydantic-settings = "*"
alembic = "*"
sqlalchemy = {extras = ["full"], version = "*"}
tenacity = "*"
qrcode = "*"

[dev-packages]

[requires]
python_version = "3.11"
